<div class="row">
    <!-- <div class="col-md-3">
    </div> -->
        <div class="col-md-12">
        <h2 align="center">Uploaded Documents</h2><br>
        
</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">S No</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Name</th> 
         <th scope="col">Mobile</th> 
         <th scope="col">Email </th> 
        <th scope="col">Download</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>
        
        
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let f of filesList; let i = index ">
        <td scope="row">{{i+1}}</td>
        <td>{{f.created_at | date}}</td>
        <td>{{f.title}}</td>
        <td>{{f.name}}</td>
        <td>{{f.mobile}}</td>
        <td>{{f.email}}</td>
        <td><a href="{{f.document_url}}" target="_blank">Download</a></td>
        <td *ngIf="userData.user_type=='Admin'"><mat-form-field>
         <select matNativeControl required [(ngModel)]="f.doc_status" (change)="updateDocStatus(f,f.doc_status)">
          <option >Select</option>
          <option value="new">New</option>
          <option value="selected">Selected</option>
          <option value="rejected">Rejected</option>
          <option value="recruited">Recruited</option>
        </select>
      </mat-form-field>
        </td>
        <td *ngIf="userData.user_type=='Agent'">{{f.doc_status}}</td>
       <td>  <button mat-raised-button (click)="deleteDocStatus(f.id)" color="primary">Delete</button></td>
              </tr>
     
    </tbody>
  </table>