<div class="row">
    <!-- <div class="col-md-3">
    </div> -->
        <div class="col-md-12">
        <h2 align="center">Uploaded Documents</h2><br>
        
</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">S No</th>
        <th scope="col"> Date</th>
         <th scope="col">Name</th> 
         <th scope="col">Mobile</th> 
         <th scope="col">Email </th> 
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of filesList; let i = index ">
        <th scope="row">{{i+1}}</th>
        <td>{{f.created_at | date}}</td>
        <td>{{f.name}}</td>
        <td>{{f.mobile}}</td>
        <td>{{f.email}}</td>
        
        <!-- <td>{{Otto}}</td> -->
        <td><a href="{{f.document_url}}" target="_blank">Download</a></td>
      </tr>
     
    </tbody>
  </table>