<div class="row">
    <div class="col-sm-5 col-md-5">
        <h2 align="center">About US</h2><br>
<p >We at One cliq global believe in achievement through collaboration. We welcome people from all walks of life, creating a diverse and unique working environment. The positive attitude of everyone at the workplace enhances the learning experience; new skills and technologies are quickly being mastered by the talented and creative teams, who are flexible and can adapt to any situation. Through unity in diversity, perseverance, understanding and passion, we strive to make our mark. </p>
<p>We at One cliq global believe that our friends who join us to have a great career and at the same time have a great earning potential coupled with a good life style.</p>
<p>With the current trend of decreasing global opportunity and changing job profile, Xmile with its innovative operating model is well positioned to create a great value proposition to aspiring friends joining our family.</p>
</div>


