<div class="card">
      <div class="card-body">
        <div>
          <form [formGroup]="uploadForm">
          <h3 style="color: black;">Enter your details</h3>
                <div class="resume" >
                  <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
                        <div class="form-group">
            <label for="name" style="color: black;">Name</label>
            <input type="text" formControlName="name" class="form-control" />
                        <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.Name.errors.required"> Name is required</div>
                        </div> -->
          </div>
          <div class="form-group">
            <label for="email" style="color: black;">Email </label>
            <input type="text" formControlName="email" class="form-control"/>
                        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required"> Name is required</div>
                        </div> -->
          </div>
          <div class="form-group">
            <label for="Phone" style="color: black;">PhoneNo </label>
            <input type="text" formControlName="phone" class="form-control"/>
                        <!-- <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                            <div *ngIf="f.Phone.errors.required"> Name is required</div>
                        </div> -->
          </div>
        <!-- </form> -->
        </div>
     
          </form>
        
          <!-- <mat-form-field> -->
            <div style="padding: 20px;">
             
              <!-- <mat-toolbar> -->
                <!-- Display files names -->
              
                <!-- <input matInput readonly name="file" /> -->
          
                <!-- Browse Button -->
               
                <!-- <button mat-raised-button>Update File</button> -->
                  <!-- </mat-toolbar> -->
          
              <!-- Fetch selected filed on change -->
             <input type="file" id="uploadFile" (change)="onFileSelected($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
            </div>
          <!-- </mat-form-field> -->
          
        </div>
        <div style="margin: 10px;">
            <button mat-raised-button (click)="uploadFiles();" color="primary">Submit</button>
            <button mat-raised-button (click)="closePopup();" color="danger" style="margin-left: 10px;">Cancel</button>
          </div>
      </div>
    </div>