

.row{
  
  min-height: 100vh;
  background: url('../../assets/ligin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.align{
  margin-top: 50px;
  margin-left: 50px;
}