

.example-card{
  margin:50px !important;
}
input{
  border-radius: 50px;
  border-color: #1a2873;
  border-width: 2px;
  height: 50px;
}

.login-title{
  color: #1a2873;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.btn{
  background-color:#1a2873; 
  color: white;
}
.design-img{
  height: 500px;
  width: 100%;
}