.align{
  width: 391px;
}

 

.row{
  margin-left: 50px;
   margin-top: 50px;
   
  }

.design-img{
  height: 500px;
  width: 100%;
}
.toast{
  position:fixed;
  left:20px;
  top: 40px;
  margin :auto;
}