<div class="row">
    <div class="col-md-6">
    <mat-card>
      <mat-card-header>
           <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div>
          <table>
            <tr>
              <td>
                <mat-form-field class="example-form">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-form">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
          </div>
             </form>
       </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
         </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
  <img src="assets/design01.png" class="design-img">
</div>
</div>



