<mat-toolbar color="primary">
    <mat-toolbar-row>
             <img src="../assets/logo.jpeg" width="100px" height="60px"/>
        <span class="example-spacer"></span>
                <a mat-button routerLink="home">Home</a>  
    <a mat-button routerLink="About">About Us</a>
    <a mat-button routerLink="services">service</a>
    <button mat-button [matMenuTriggerFor]="belowMenu">Jobs</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item data-toggle="modal" data-target="#myModal">Voice Technologies</button>
  <button mat-menu-item>Image Analytices</button>
</mat-menu>
    <a mat-button routerLink="Contact">Contact Us</a>
    <a mat-button routerLink="Login">Login</a>
       </mat-toolbar-row>
</mat-toolbar>
 <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="uploadForm"></form>
      <h2 align="center">Select Resume..</h2>
      <mat-form-field>
        <div>
         
          <mat-toolbar>
            <!-- Display files names -->
          
            <input matInput readonly name="name" />
      
            <!-- Browse Button -->
          
            <button mat-flat-button color="primary">
              Browse File
            </button>
              </mat-toolbar>
      
          <!-- Fetch selected filed on change -->
          <input type="file" id="uploadFile" (change)="onFileSelected($event)" name="uploadFile"/>
        </div>
      </mat-form-field>
      <button mat-raised-button (click)="uploadFiles();" color="primary" style="margin-left: 400px;">Submit</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>