
.example-icon {
    padding: 0  25px;
  }
  .example-spacer {
        flex:  1 1 auto;
        
  }
  
  .mat-drawer-container {
    background-color: #daa8b3;
    
}
.mat-drawer {
    background-color: peru;

}
.mat-form-field {
  //margin: 20px 0;
  width: 200px !important;
}

.mat-toolbar-row {

  height: auto !important;
  background: transparent;
  background-size:contain;
  
}


#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;    
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
.form-group {
	margin-bottom: 16px;
}
.container {
	background: #fff;
	// \\box-shadow: 0 2px 4px #888;
	margin: auto;
	padding: 16px;
	max-width: 600px;
}
label {
	display:block;
	font-weight: 700;
	margin: 0 0 4px 0;
	min-width: 100px;
}
.resume, textarea {
	
	padding: 4px 0;
	width: 100%;
	-webkit-appearance: none;
}