<meta name=viewport content='width=485'>
<mat-toolbar color="primary" width="100%" >
    <mat-toolbar-row>
             <img src="../assets/logo.jpeg" width="100px" height="60px"/>
                     <span class="example-spacer"></span>
                <a mat-button routerLink="home">Home</a> 
                <a mat-button routerLink="About">About Us</a>
    <a mat-button routerLink="services">service</a>
    <a mat-button routerLink="jobs">Jobs</a>
           <!-- <button mat-button [matMenuTriggerFor]="belowMenu">Jobs</button> -->
<!-- <mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item data-toggle="modal" data-target="#myModal">Java J2EE</button>
  <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
         
  <button mat-menu-item data-toggle="modal" data-target="#myModal">IOS</button>
  <button mat-menu-item data-toggle="modal" data-target="#myModal">Android</button>
  <button mat-menu-item data-toggle="modal" data-target="#myModal">Micro Service</button>
  <button mat-menu-item data-toggle="modal" data-target="#myModal">Data Stage</button> -->
<!-- </mat-menu> -->

    <a mat-button routerLink="Contact">Contact</a>
    <a mat-button routerLink="Login">Login
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu></a>
    <a mat-button routerLink="Upload"></a>
    <a mat-button routerLink="Jobs"></a>
    <a mat-button routerLink="agent"></a>
             
       </mat-toolbar-row>
</mat-toolbar>
 <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="uploadForm">
      <h2 align="center">Select Resume..</h2>
            <div class="resume" >
              <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
                    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" />
                    <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required"> Name is required</div>
                    </div> -->
      </div>
      <div class="form-group">
        <label for="email">Email </label>
        <input type="text" formControlName="email" class="form-control"/>
                    <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required"> Name is required</div>
                    </div> -->
      </div>
      <div class="form-group">
        <label for="Phone">PhoneNo </label>
        <input type="text" formControlName="phone" class="form-control"/>
                    <!-- <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                        <div *ngIf="f.Phone.errors.required"> Name is required</div>
                    </div> -->
      </div>
    <!-- </form> -->
    </div>
 
      </form>
    
      <mat-form-field>
        <div style="padding: 20px;">
         
          <!-- <mat-toolbar> -->
            <!-- Display files names -->
          
            <input matInput readonly name="file" />
      
            <!-- Browse Button -->
           
            <button mat-raised-button>Update File</button>
              <!-- </mat-toolbar> -->
      
          <!-- Fetch selected filed on change -->
         <input type="file" id="uploadFile" (change)="onFileSelected($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
        </div>
      </mat-form-field>
      <div style="margin: 10px;">
      <button mat-raised-button (click)="uploadFiles();" color="primary" style="margin-left: 400px;">Submit</button>
    </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>