<div class="row">
   <div class="col-sm-12 col-md-12">
    <h2 align="center">SERVICES</h2>
    <h2>What we offer</h2>
   
                <ul>
                             <li>Java J2Ee</li>
                              <li>IOS</li>
                              <li>Android</li>
                              <li>Data Stage</li>
                              <li>Micro services</li>
                              <li> <a href="http://www.amithiidesignstudio.com/" target="_blank">Digital Branding and Marketting</a></li>
                             </ul>
    
                             <div class="domain">
                             <h2>DOMAIN</h2>
                             <ul>
                             <li>Education and Training</li>
                             <li>Retail</li>
                             <li>Legal</li>
                             </ul>
     </div>
      </div>
      </div>
      
    
