
.row
{
  font-style: normal; 
font-size:large;
text-align: left;
color:black;
margin-left: 10px;
  min-height: 90vh;
  background: url('../../assets/ser.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}