<div class="row">
   <div class="col-sm-12 col-md-12">
    <h2 align="center">SERVICES</h2>
    <h2>What we offer</h2>
   
                <ul>
                             <li>Voice Technologies</li>
                              <li>AL,ML and Deep Learning</li>
                              <li>Argumented reality</li>
                              <li>Data Science</li>
                              <li>Image Analytices</li>
                              <li>Mobile and Web frond end deployment</li>
                             <li>Consulting, Development and Deployment</li>
                             <li> <a href="http://www.amithiidesignstudio.com/" target="_blank">Digital Branding and Marketting</a></li>
                             </ul>
    
                             <div class="domain">
                             <h2>DOMAIN</h2>
                             <ul>
                             <li>Education and Training</li>
                             <li>Retail</li>
                             <li>Legal</li>
                             </ul>
     </div>
      </div>
      </div>
      
    
