<div id="services" class="container-fluid text-center bg-grey">
    <div class="col-sm-5 col-md-5">
    <h2 align="center">SERVICES</h2>
    <h4>What we offer</h4>
    <div class="row">
                <ul>
                             <li>Voice Technologies</li>
                              <li>AL,ML and Deep Learning</li>
                              <li>Argumented reality</li>
                              <li>Data Science</li>
                              <li>Image Analytices</li>
                              <li>Mobile and Web frond end deployment</li>
                             <li>Consulting, Development and Deployment</li>
                             <li> <a href="http://www.amithiidesignstudio.com/">Digital Branding and Marketting</a></li>
                             </ul>
    </div>
                             <div class="domain">
                             <h2 align="center">DOMAIN</h2>
                             <ul>
                             <li>Education and Training</li>
                             <li>Retail</li>
                             <li>Legal</li>
                             </ul>
     </div>
      </div>
      
    
